@import url('https://fonts.googleapis.com/css2?family=Tenor+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

:root {
  --vt-c-white: #fdf8f6;
  --vt-c-white-soft: #fdf8f6;
  --vt-c-white-mute: #f1edeb;

  --vt-c-black: #252d27 ;
  --vt-c-black-soft: #36413a;
  --vt-c-black-mute: #1e2520;

  --light-primary-green: #45664d;
  --light-primary-green-text: #ffffff;
  --light-primary-green-hover: #507559;

  --light-secondary-green: #93b799;
  --light-secondary-green-text: #082915;
  --light-secondary-green-hover: #b7d0b5;

  --dark-primary-green: #abcfb1;
  --dark-primary-green-text: #173721;
  --dark-primary-green-hover: #d2eccf;

  --dark-secondary-green: #80a386;
  --dark-secondary-green-text: #203522;
  --dark-secondary-green-hover: #a9c2a7;

  --orange: #D05402;
  --bright-orange: #FD7921;
  --dark-orange: #8D3901;

  --yellow: #EF9206;
  --bright-yellow: #fab245;

  --blue: #0C6291;
  --bright-blue: #118DD0;

  --violet: #940162;
  --bright-vioet: #B80077;

  --error-light: #ba1a1a;
  --error-light-hover: #da3c3c;
  --error-light-bg: #ffdad6;
  --error-light-text: #410002;

  --error-dark: #690005;
  --error-dark-hover: #9a040e;
  --error-dark-bg: #93000a;
  --error-dark-text: #ffdad6;

  --orange-bg: rgba(208, 84, 2, 0.2);
  --bright-orange-bg: rgba(253, 121, 33, 0.2);

  --vt-c-divider-light-1: #767871;
  --vt-c-divider-light-2: #c6c7c0;
  --vt-c-divider-dark-1: #90918b;
  --vt-c-divider-dark-2: #464742;

  --vt-c-text-light-1: var(--light-primary-green);
  --vt-c-text-light-2: #464742;
  --vt-c-text-dark-1: var(--vt-c-white);
  --vt-c-text-dark-2: #c6c7c0;
}

/* semantic color variables for this project */
:root {
  --color-background: var(--vt-c-white);
  --color-background-soft: var(--vt-c-white-soft);
  --color-background-mute: var(--vt-c-white-mute);

  --color-border: var(--vt-c-divider-light-2);
  --color-border-hover: var(--vt-c-divider-light-1);

  --color-heading: var(--vt-c-text-light-1);
  --color-text: var(--vt-c-text-light-1);

  --primary-color: var(--light-primary-green);
  --primary-color-text: var(--light-primary-green-text);
  --primary-color-hover: var(--light-primary-green-hover);

  --secondary-color: var(--light-secondary-green);
  --secondary-color-text: var(--light-secondary-green-text);
  --secondary-color-hover: var(--light-secondary-green-hover);

  --color-accent-1: var(--orange);
  --color-accent-1-text: var(--vt-c-white);
  --color-accent-1-bg: rgb(from var(--color-accent-1) r g b / .3);

  --color-accent-2: var(--yellow);
  --color-accent-2-text: var(--vt-c-black);
  --color-accent-2-bg: rgb(from var(--color-accent-2) r g b / .3);

  --color-accent-3: var(--blue);
  --color-accent-3-text: var(--vt-c-white);
  ---color-accent-3-bg: rgb(from var(--color-accent-3) r g b / .3);

  --color-accent-4: var(--violet);
  --color-accent-4-text: var(--vt-c-white);
  ---color-accent-4-bg: rgb(from var(--color-accent-4) r g b / .3);

  --section-gap: 160px;

  --error: var(--error-light);
  --error-hover: var(--error-light-hover);
  --error-bg: var(--error-light-bg);
  --error-text: var(--error-light-text);

  /*loader*/
  --hue-loader: 132;
  --bg-loader: hsl(var(--hue-loader),10%,90%);
  --fg-loader: hsl(var(--hue-loader),10%,10%);
  --primary-loader: hsl(var(--hue-loader),14%,47%);
  --primary-l-loader: hsl(var(--hue-loader),14%,57%);
  --primary-d-loader: hsl(var(--hue-loader),14%,37%);
  --white-loader: hsl(var(--hue-loader),10%,100%);
  --white-d-loader: hsl(var(--hue-loader),10%,45%);

}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--vt-c-black);
    --color-background-soft: var(--vt-c-black-soft);
    --color-background-mute: var(--vt-c-black-mute);

    --color-border: var(--vt-c-divider-dark-2);
    --color-border-hover: var(--vt-c-divider-dark-1);

    --color-heading: var(--vt-c-text-dark-1);
    --color-text: var(--vt-c-text-dark-2);

    --color-accent-1: var(--bright-orange);
    --color-accent-1-text: var(--vt-c-black);
    --color-accent-1-bg: rgb(from var(--color-accent-1) r g b / .3);

    --color-accent-2: var(--bright-yellow);
    --color-accent-2-text: var(--vt-c-black);
    --color-accent-2-bg: rgb(from var(--color-accent-2) r g b / .3);

    --color-accent-3: var(--bright-blue);
    --color-accent-3-text: var(--vt-c-black);
    ---color-accent-3-bg: rgb(from var(--color-accent-3) r g b / .3);

    --color-accent-4: var(--bright-vioet);
    --color-accent-4-text: var(--vt-c-white);
    ---color-accent-4-bg: rgb(from var(--color-accent-4) r g b / .3);

    --primary-color: var(--dark-primary-green);
    --primary-color-text: var(--dark-primary-green-text);
    --primary-color-hover: var(--dark-primary-green-hover);

    --secondary-color: var(--dark-secondary-green);
    --secondary-color-text: var(--dark-secondary-green-text);
    --secondary-color-hover: var(--dark-secondary-green-hover);

    --error: var(--error-dark);
    --error-hover: var(--error-dark-hover);
    --error-bg: var(--error-dark-bg);
    --error-text: var(--error-dark-text);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family: "Mulish", sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.tenor-sans-regular {
  font-family: "Tenor Sans", sans-serif;
  color: var(--color-accent-1);
  font-weight: 600;
  font-style: normal;
}

.center-vertically {
  margin-top: auto;
  margin-bottom: auto;
}