@import url('https://fonts.googleapis.com/css2?family=Tenor+Sans&display=swap');

:root {
  --vt-c-white: #fdf8f6;
  --vt-c-white-soft: #fdf8f6;
  --vt-c-white-mute: #f1edeb;

  --vt-c-black: #1c1b1a ;
  --vt-c-black-soft: #201f1e;
  --vt-c-black-mute: #2b2a29;

  --green: #45664d;
  --orange: #D05402;
  --bright-orange: #FD7921;

  --orange-bg: rgba(208, 84, 2, 0.2);
  --bright-orange-bg: rgba(253, 121, 33, 0.2);

  --vt-c-divider-light-1: #767871;
  --vt-c-divider-light-2: #c6c7c0;
  --vt-c-divider-dark-1: #90918b;
  --vt-c-divider-dark-2: #464742;

  --vt-c-text-light-1: var(--vt-c-green);
  --vt-c-text-light-2: #464742;
  --vt-c-text-dark-1: var(--vt-c-white);
  --vt-c-text-dark-2: #c6c7c0;
}

/* semantic color variables for this project */
:root {
  --color-background: var(--vt-c-white);
  --color-background-soft: var(--vt-c-white-soft);
  --color-background-mute: var(--vt-c-white-mute);

  --color-border: var(--vt-c-divider-light-2);
  --color-border-hover: var(--vt-c-divider-light-1);

  --color-heading: var(--vt-c-text-light-1);
  --color-text: var(--vt-c-text-light-1);

  --color-accent: var(--orange);
  --color-accent-bg: var(--orange-bg);

  --section-gap: 160px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--vt-c-black);
    --color-background-soft: var(--vt-c-black-soft);
    --color-background-mute: var(--vt-c-black-mute);

    --color-border: var(--vt-c-divider-dark-2);
    --color-border-hover: var(--vt-c-divider-dark-1);

    --color-heading: var(--vt-c-text-dark-1);
    --color-text: var(--vt-c-text-dark-2);

    --color-accent: var(--bright-orange);
    --color-accent-bg: var(--bright-orange-bg);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.tenor-sans-regular {
  font-family: "Tenor Sans", sans-serif;
  color: var(--color-accent);
  font-weight: 600;
  font-style: normal;
}
