@import url('https://fonts.googleapis.com/css2?family=Tenor+Sans&display=swap');

:root {
  --vt-c-white: #fdf8f6;
  --vt-c-white-soft: #fdf8f6;
  --vt-c-white-mute: #f1edeb;

  --vt-c-black: #1c1b1a ;
  --vt-c-black-soft: #201f1e;
  --vt-c-black-mute: #2b2a29;

  --light-primary-green: #45664d;
  --light-primary-green-text: #ffffff;
  --light-primary-green-hover: #507559;

  --light-secondary-green: #93b799;
  --light-secondary-green-text: #082915;
  --light-secondary-green-hover: #b7d0b5;

  --dark-primary-green: #abcfb1;
  --dark-primary-green-text: #173721;
  --dark-primary-green-hover: #d2eccf;

  --dark-secondary-green: #80a386;
  --dark-secondary-green-text: #203522;
  --dark-secondary-green-hover: #a9c2a7;

  --orange: #D05402;
  --bright-orange: #FD7921;

  --error-light: #ba1a1a;
  --error-light-hover: #da3c3c;
  --error-light-bg: #ffdad6;
  --error-light-text: #410002;

  --error-dark: #690005;
  --error-dark-hover: #9a040e;
  --error-dark-bg: #93000a;
  --error-dark-text: #ffdad6;

  --orange-bg: rgba(208, 84, 2, 0.2);
  --bright-orange-bg: rgba(253, 121, 33, 0.2);

  --vt-c-divider-light-1: #767871;
  --vt-c-divider-light-2: #c6c7c0;
  --vt-c-divider-dark-1: #90918b;
  --vt-c-divider-dark-2: #464742;

  --vt-c-text-light-1: var(--vt-c-green);
  --vt-c-text-light-2: #464742;
  --vt-c-text-dark-1: var(--vt-c-white);
  --vt-c-text-dark-2: #c6c7c0;
}

/* semantic color variables for this project */
:root {
  --color-background: var(--vt-c-white);
  --color-background-soft: var(--vt-c-white-soft);
  --color-background-mute: var(--vt-c-white-mute);

  --color-border: var(--vt-c-divider-light-2);
  --color-border-hover: var(--vt-c-divider-light-1);

  --color-heading: var(--vt-c-text-light-1);
  --color-text: var(--vt-c-text-light-1);

  --primary-color: var(--light-primary-green);
  --primary-color-text: var(--light-primary-green-text);
  --primary-color-hover: var(--light-primary-green-hover);

  --secondary-color: var(--light-secondary-green);
  --secondary-color-text: var(--light-secondary-green-text);
  --secondary-color-hover: var(--light-secondary-green-hover);

  --color-accent: var(--orange);
  --color-accent-bg: var(--orange-bg);

  --section-gap: 160px;

  --error: var(--error-light);
  --error-hover: var(--error-light-hover);
  --error-bg: var(--error-light-bg);
  --error-text: var(--error-light-text);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--vt-c-black);
    --color-background-soft: var(--vt-c-black-soft);
    --color-background-mute: var(--vt-c-black-mute);

    --color-border: var(--vt-c-divider-dark-2);
    --color-border-hover: var(--vt-c-divider-dark-1);

    --color-heading: var(--vt-c-text-dark-1);
    --color-text: var(--vt-c-text-dark-2);

    --color-accent: var(--bright-orange);
    --color-accent-bg: var(--bright-orange-bg);

    --primary-color: var(--dark-primary-green);
    --primary-color-text: var(--dark-primary-green-text);
    --primary-color-hover: var(--dark-primary-green-hover);

    --secondary-color: var(--dark-secondary-green);
    --secondary-color-text: var(--dark-secondary-green-text);
    --secondary-color-hover: var(--dark-secondary-green-hover);

    --error: var(--error-dark);
    --error-hover: var(--error-dark-hover);
    --error-bg: var(--error-dark-bg);
    --error-text: var(--error-dark-text);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.tenor-sans-regular {
  font-family: "Tenor Sans", sans-serif;
  color: var(--color-accent);
  font-weight: 600;
  font-style: normal;
}
